body {
  margin: 50px 0;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(73,73,108,1) 45%, rgba(161,222,235,1) 100%);
}

.search-bar {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}

.shows-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.shows-wrapper .card {
  position: relative;
  width: 24%;
  margin-bottom: 1.5%;
  margin-right: 0.5%;
}
.shows-wrapper .card button {
  position: absolute;
  left: 0;
  bottom: 0;
}
.shows-wrapper .card p{
  margin-bottom: 2rem;
}
.show-preview {
  position: fixed;
  left: 50%;
  top: 5%;
  display: none;
  width: 90%;
  max-width: 1100px;
  height: 90%;
  background: white;
  transform: translate(-50%, 0);
  z-index: 1;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}

.show-preview .card {
  height: 100%;
}

.card-preview-bg {
  width: 100%;
  height: 45%;
  background-position: center;
  background-size: cover;
}

.closeImage {
  width: 15px;
  height: 15px;
}

.closeButton {
  background: transparent;
  border: 0;
  position: absolute;
  right: 0px;
  top: -4px;
}